*/obj/
*/bin/
*/appsettings.json

THINGS TO BE COMPLETED: 
Clean up code/correct any naming issues if they're displaying weird.
Fix Authorization issues. Go through and put "[Authorize]" where needed
Add ReadMe.md